

<!DOCTYPE html>
<html lang="zxx" class="js">




<head>
    <base href="../../">
    <meta charset="utf-8">
    <meta name="author" content="Forex Signal">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Trades Leverage  Forex Signal help you secure your crypto, save and grow it ">
    <meta name="keywords" content="crypto,currency " />
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="/static/backend/images/favicon.png">
    <!-- Page Title  -->
    <title>Dashboard -Seapaltrading-Trades Leverage Security for Crypto and Forex Assets</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="https://tradesleverage.com/static/backend/assets/css/dashlite.css">
    <link id="skin-default" rel="stylesheet" href="https://tradesleverage.com/static/backend/assets/css/theme.css?ver=2.2.0">
    <!-- <link rel="stylesheet" href="/static/dashlite.css">
    <link rel="stylesheet" href="/static/style2.css"> -->

    <style>
  .asteriskField {
    display: none;}
    </style>

</head>
<body class="nk-body npc-crypto bg-white has-sidebar ">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- sidebar @s -->
            
            

<!-- sidebar @s -->
<div class="nk-sidebar nk-sidebar-fixed " data-content="sidebarMenu">
  <div class="nk-sidebar-element nk-sidebar-head">
      <div class="nk-sidebar-brand">
          <a href="/user/profile/" class="logo-link nk-sidebar-logo">
            <img class="logo-light logo-img" src="https://tradesleverage.com/static/backend/images/favicon.png" srcset="https://tradesleverage.com/static/backend/images/favicon.png" alt="logo"  width="50" height="80">
            <img class="logo-dark logo-img" src="https://tradesleverage.com/static/backend/images/favicon.png" srcset="https://tradesleverage.com/static/backend/images/favicon.png" alt="logo-dark"  width="50" height="80">
           
            
              <span class="nio-version">Seapaltrading</span>
          </a>
      </div>
      <div class="nk-menu-trigger mr-n2">
          <a href="/user/profile/" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
      </div>
  </div><!-- .nk-sidebar-element -->
  <div class="nk-sidebar-element">
      <div class="nk-sidebar-body" data-simplebar>
          <div class="nk-sidebar-content">
              <div class="nk-sidebar-widget d-none d-xl-block">
                  <div class="user-account-info between-center">
                      <div class="user-account-main">
                          <h6 class="overline-title-alt">Available Balance [[DEMO]]</h6>
                          <div class="user-balance">{{user.demon}} <small class="currency currency-btc">USD</small></div>
                          
                      </div>
                      <a href="/user/profile/" class="btn btn-white btn-icon btn-light"><em class="icon ni ni-line-chart"></em></a>
                  </div>
               
                  <div class="user-account-actions">
                      <ul class="g-3">
                          <li><a href="/user/deposit/" class="btn btn-lg btn-primary"><span>Deposit</span></a></li>
                          <li><a href="/user/withdrawal/" class="btn btn-lg btn-warning"><span>Withdraw</span></a></li>
                      </ul>
                  </div>
              </div><!-- .nk-sidebar-widget -->
              <div class="nk-sidebar-widget nk-sidebar-widget-full d-xl-none pt-0">
                  <a class="nk-profile-toggle toggle-expand" data-target="sidebarProfile" href="/user/profile/">
                      <div class="user-card-wrap">
                          <div class="user-card">
                              <div class="user-avatar">
                                  <span>P</span>
                              </div>
                              <div class="user-info">
                                  <span class="lead-text">{{user.username}}</span>
                                  <span class="sub-text">{{user.email}}</span>
                              </div>
                              <div class="user-action">
                                  <em class="icon ni ni-chevron-down"></em>
                              </div>
                          </div>
                      </div>
                  </a>
                  <div class="nk-profile-content toggle-expand-content" data-content="sidebarProfile">
                      <div class="user-account-info between-center">
                          <div class="user-account-main">
                              <h6 class="overline-title-alt">Available Balance [[DEMO]]</h6>
                              <div class="user-balance">{{user.demon}} <small class="currency currency-btc">USD</small></div>
                          
                          </div>
                          <a href="/user/profile/" class="btn btn-icon btn-light"><em class="icon ni ni-line-chart"></em></a>
                      </div>
                     
                      <ul class="user-account-links">
                          <li><a href="/user/withdrawal/" class="link"><span>Withdraw Funds</span> <em class="icon ni ni-wallet-out"></em></a></li>
                          <li><a href="/user/deposit/" class="link"><span>Deposit Funds</span> <em class="icon ni ni-wallet-in"></em></a></li>
                      </ul>
                      <ul class="link-list">
                          <li><a href="/user/profile/"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                          <li><a href="/user/profile/"><em class="icon ni ni-setting-alt"></em><span>Account Setting</span></a></li>
                         
                      </ul>
                      <ul class="link-list">
                          <li><a href="/user/logout/"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                      </ul>
                  </div>
              </div><!-- .nk-sidebar-widget -->
              <div class="nk-sidebar-menu">
                  <!-- Menu -->
                  <ul class="nk-menu">
                      <li class="nk-menu-heading">
                          <h6 class="overline-title">Menu</h6>
                      </li>
                      <li class="nk-menu-item">
                          <a href="/user/profile/" class="nk-menu-link">
                              <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                              <span class="nk-menu-text">Dashboard</span>
                          </a>
                      </li>

                      <li class="nk-menu-item">
                          <a href="/user/wallets/" class="nk-menu-link">
                              <span class="nk-menu-icon"><em class="icon ni ni-wallet-alt"></em></span>
                              <span class="nk-menu-text">Wallets</span>
                          </a>
                      </li>
                      <li class="nk-menu-item">
                          <a href="/user/trade/" class="nk-menu-link">
                              <span class="nk-menu-icon">
                              <em class="icon ni ni-trend-up"></em></span>
                              <span class="nk-menu-text">Buy / Sell</span>
                          </a>
                      </li>
                      <li class="nk-menu-item">
                          <a href="/user/my-trades/" class="nk-menu-link">
                              <span class="nk-menu-icon"><em class="icon ni ni-repeat"></em></span>
                              <span class="nk-menu-text">Orders</span>
                          </a>
                      </li>

                      <li class="nk-menu-item">
                          <a href="/user/my-trades/" class="nk-menu-link">
                              <span class="nk-menu-icon"><em class="icon ni ni-coins"></em></span>
                              <span class="nk-menu-text">Deposits</span>
                          </a>
                      </li> 

                      <li class="nk-menu-item">
                          <a href="/user/my-withdraws/" class="nk-menu-link">
                              <span class="nk-menu-icon"><em class="icon ni ni-layers"></em></span>
                              <span class="nk-menu-text">Withdraws</span>
                          </a>
                      </li> 

                      <li class="nk-menu-item">
                          <a href="/user/kyc/" class="nk-menu-link">
                              <span class="nk-menu-icon"><em class="icon ni ni-user-c"></em></span>
                              <span class="nk-menu-text">KYC</span>
                          </a>
                      </li>


                      <li class="nk-menu-item has-sub">
                          <a href="/user/profile/" class="nk-menu-link nk-menu-toggle">
                              <span class="nk-menu-icon"><em class="icon ni ni-exchange-v"></em></span>
                              <span class="nk-menu-text">Demo/Live Switch</span>
                          </a>
                          <ul class="nk-menu-sub">
                              <li class="nk-menu-item">
                                  <a href="/user/my-demo/" class="nk-menu-link"><span class="nk-menu-text">Demo</span></a>
                              </li>
                              <li class="nk-menu-item">
                                  <a href="/user/profile/" class="nk-menu-link"><span class="nk-menu-text">Live </span></a>
                              </li>
                              
                          </ul><!-- .nk-menu-sub -->
                      </li><!-- .nk-menu-item -->



                    


                      <li class="nk-menu-item">
                          <a href="/user/logout/" class="nk-menu-link">
                              <span class="nk-menu-icon"><em class="icon ni ni-signout"></em></span>
                              <span class="nk-menu-text">SignOut</span>
                          </a>
                      </li>





                      
                  </ul><!-- .nk-menu -->
              </div><!-- .nk-sidebar-menu -->
              
            
          </div><!-- .nk-sidebar-content -->
      </div><!-- .nk-sidebar-body -->
  </div><!-- .nk-sidebar-element -->
</div>
            <!-- sidebar @e -->

            <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap ">
                
                <!-- main header @s -->
                
               
<div class="nk-header nk-header-fluid nk-header-fixed is-light">
  <div class="container-fluid">
      <div class="nk-header-wrap">
          <div class="nk-menu-trigger d-xl-none ml-n1">
              <a href="/user/profile/" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
          </div>
          <div class="nk-header-brand d-xl-none">
              <a href="/user/profile/" class="logo-link">
                <img class="logo-light logo-img" src="https://tradesleverage.com/static/backend/images/favicon.png" srcset="https://tradesleverage.com/static/backend/images/favicon.png" alt="logo"  width="50" >
                <img class="logo-dark logo-img" src="https://tradesleverage.com/static/backend/images/favicon.png" srcset="https://tradesleverage.com/static/backend/images/favicon.png" alt="logo-dark"  width="50" >
               
                
                  <span class="nio-version">Seapaltrading</span>
              </a>
          </div>
          <div class="nk-header-news d-none d-xl-block">
              
          </div>
          <div class="nk-header-tools">
              <ul class="nk-quick-nav">
                  <li class="dropdown user-dropdown">
                      <a href="/user/profile/" class="dropdown-toggle" data-toggle="dropdown">
                          <div class="user-toggle">
                              <div class="user-avatar sm">
                                  <em class="icon ni ni-user-alt"></em>
                              </div>

                              <div class="user-info d-none d-md-block">
                                 
                                  <div class="user-name dropdown-indicator">{{user.username}}</div>
                              </div>


                          </div>
                      </a>
                      <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">
                          <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                              <div class="user-card">
                                  <div class="user-avatar">
                                      <span>P</span>
                                  </div>
                                  <div class="user-info">
                                      <span class="lead-text">{{user.username}}</span>
                                      <span class="sub-text">{{user.email}}</span>
                                  </div>
                              </div>
                          </div>
                          <div class="dropdown-inner user-account-info">
                              <h6 class="overline-title-alt">Demo Wallet Account</h6>
                              <div class="user-balance">{{user.demon}}<small class="currency currency-btc"> USD</small></div>
                              <a href="/user/withdrawal/" class="link"><span>Withdraw Funds</span> <em class="icon ni ni-wallet-out"></em></a>
                          </div>
                          <div class="dropdown-inner">
                              <ul class="link-list">
                                  <li><a href="/user/profile/"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                                  <li><a href="/user/profile/"><em class="icon ni ni-setting-alt"></em><span>Account Setting</span></a></li>
                                  
                                  <li><a class="dark-switch" href="/user/profile/"><em class="icon ni ni-moon"></em><span>Dark Mode</span></a></li>
                              </ul>
                          </div>
                          <div class="dropdown-inner">
                              <ul class="link-list">
                                  <li><a href="/user/logout/"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                              </ul>
                          </div>
                      </div>
                  </li>
                 
              </ul>
          </div>
      </div>
  </div>
</div>

                <!-- main header @e -->
                <!-- main header @e -->

                
                    

                    <!-- content @s -->
                <div class="nk-content nk-content-fluid">
                    <div class="container-xl wide-lg">
                        <div class="nk-content-body">
                            <div class="nk-block-head">
                                <div class="nk-block-head-sub"><span>Welcome!</span>
                                </div>
                                <div class="nk-block-between-md g-4">
                                    <div class="nk-block-head-content">
                                        <h2 class="nk-block-title fw-normal">{{user.username}}</h2>
                                        <div class="nk-block-des">
                                            <p>At a glance summary of your account. Have fun!</p>
                                        </div>
                                    </div><!-- .nk-block-head-content -->
                                    <div class="nk-block-head-content">
                                        <ul class="nk-block-tools gx-3">
                                            <li><a href="/user/deposit/" class="btn btn-primary"><span>Deposit</span> <em class="icon ni ni-arrow-long-right"></em></a></li>
                                            <li><a href="/user/trade/" class="btn btn-white btn-light"><span>Buy / Sell</span> <em class="icon ni ni-arrow-long-right d-none d-sm-inline-block"></em></a></li>
                                            <li class="opt-menu-md dropdown">
                                                <a href="/user/profile/" class="btn btn-white btn-light btn-icon" data-toggle="dropdown">
                                                
                                                    <em class="icon ni ni-exchange-v"></em>
                                                Demo Account</a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="/user/demo/"><em class="icon ni ni-coin-alt"></em><span>Demo Account</span></a></li>
                                                        <li><a href="/user/profile/"><em class="icon ni ni-notify"></em><span>Live Account</span></a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div><!-- .nk-block-head-content -->
                                </div><!-- .nk-block-between -->
                            </div><!-- .nk-block-head -->
                            <div class="nk-block">
                                <div class="row gy-gs">



<div style="background-color: #E5E9F2; width:100%; height:auto;">
    <div style="width: 100%; height: auto; padding:5px 20px; margin-top:0px; background-color: #E5E9F2; z-index: 2;"><br>
        <div class="tradingview-widget-container" style="margin-top: -20px;">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
            {
            "symbols": [
              {
                "proName": "FOREXCOM:SPXUSD",
                "title": "S&P 500"
              },
              {
                "proName": "FOREXCOM:NSXUSD",
                "title": "Nasdaq 100"
              },
              {
                "proName": "FX_IDC:EURUSD",
                "title": "EUR/USD"
              },
              {
                "proName": "BITSTAMP:BTCUSD",
                "title": "BTC/USD"
              },
              {
                "proName": "BITSTAMP:ETHUSD",
                "title": "ETH/USD"
              }
            ],
            "colorTheme": "light",
            "isTransparent": true,
            "displayMode": "regular",
            "locale": "en"
          }
            </script>
          </div>
    </div>
</div>

                                    <div class="col-lg-5 col-xl-4">



                                        <div class="nk-block">

                                            <div class="nk-block-head-xs">
                                                <div class="nk-block-head-content">
                                                    <h5 class="nk-block-title title">Overview</h5>
                                                </div>
                                            </div><!-- .nk-block-head -->
                                            <div class="nk-block">
                                              <div class="card card-bordered text-light is-dark h-100">
                                                  <div class="card-inner">
                                                      <div class="nk-wg7">
                                                          <div class="nk-wg7-stats">
                                                              <div class="nk-wg7-title">Available balance in USD Demon</div>
                                                              <div class="number-lg amount">{{user.demon}}</div>
                                                          </div>
                                                          <div class="nk-wg7-stats-group">
                                                              <div class="nk-wg7-stats w-50">
                                                                  <div class="nk-wg7-title">Total Profit</div>
                                                                  <div class="number-lg">{{user.totalprofit}}</div>
                                                              </div>
                                                              <div class="nk-wg7-stats w-50">
                                                                  <div class="nk-wg7-title">Total Deposit</div>
                                                                  <div class="number">{{user.totaldeposit}}</div>
                                                              </div>
                                                          </div>
                                                          <div class="nk-wg7-foot">
                                                              <span class="nk-wg7-note">Last login <span>{{user.last_login}}</span></span>
                                                          </div>
                                                      </div><!-- .nk-wg7 -->
                                                  </div><!-- .card-inner -->
                                              </div><!-- .card -->
                                          </div><!-- .nk-block -->
                                        </div><!-- .nk-block -->
                                    </div><!-- .col -->
                                 
                                </div><!-- .row -->
                            </div><!-- .nk-block -->
                            <div class="nk-block nk-block-lg">
                                <div class="row gy-gs">




                                    <div class="col-md-6">
                                        <div class="card-head">
                                            <div class="card-title  mb-0">
                                                <h5 class="title">Bitcoin Analysis</h5>
                                            </div>
                                            <div class="card-tools">
                                                
                                            </div>
                                        </div><!-- .card-head -->
                                        <div class="tranx-list card card-bordered">

 
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BTCUSD/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for BTCUSD</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
  {
  "interval": "1m",
  "width": "425",
  "isTransparent": true,
  "height": "450",
  "symbol": "BITSTAMP:BTCUSD",
  "showIntervalTabs": true,
  "locale": "en",
  "colorTheme": "light"
}
  </script>
</div>
<!-- TradingView Widget END -->

 


                                        </div><!-- .tranx-list -->
                                    </div><!-- .col -->
                                    <div class="col-md-6">
                                        <div class="card-head">
                                            <div class="card-title mb-0">
                                                <h5 class="title">Bitcoin Overview</h5>
                                            </div>
                                            <div class="card-tools">
                                               
                                            </div>
                                        </div><!-- .card-title -->
                                       


<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
  {
  "title": "Cryptocurrencies",
  "title_raw": "Cryptocurrencies",
  "tabs": [
    {
      "title": "Overview",
      "title_raw": "Overview",
      "symbols": [
        {
          "s": "CRYPTOCAP:TOTAL"
        },
        {
          "s": "BITSTAMP:BTCUSD"
        },
        {
          "s": "BITSTAMP:ETHUSD"
        },
        {
          "s": "FTX:SOLUSD"
        },
        {
          "s": "BINANCE:LUNAUSD"
        },
        {
          "s": "COINBASE:UNIUSD"
        }
      ],
      "quick_link": {
        "title": "More cryptocurrencies",
        "href": "/markets/cryptocurrencies/prices-all/"
      }
    },
    {
      "title": "Bitcoin",
      "title_raw": "Bitcoin",
      "symbols": [
        {
          "s": "BITSTAMP:BTCUSD"
        },
        {
          "s": "COINBASE:BTCEUR"
        },
        {
          "s": "COINBASE:BTCGBP"
        },
        {
          "s": "BITFLYER:BTCJPY"
        },
        {
          "s": "CEXIO:BTCRUB"
        },
        {
          "s": "CME:BTC1!"
        }
      ],
      "quick_link": {
        "title": "More Bitcoin pairs",
        "href": "/symbols/BTCUSD/markets/"
      }
    },
    {
      "title": "Ethereum",
      "title_raw": "Ethereum",
      "symbols": [
        {
          "s": "BITSTAMP:ETHUSD"
        },
        {
          "s": "KRAKEN:ETHEUR"
        },
        {
          "s": "COINBASE:ETHGBP"
        },
        {
          "s": "BITFLYER:ETHJPY"
        },
        {
          "s": "BINANCE:ETHBTC"
        },
        {
          "s": "BINANCE:ETHUSDT"
        }
      ],
      "quick_link": {
        "title": "More Ethereum pairs",
        "href": "/symbols/ETHUSD/markets/"
      }
    },
    {
      "title": "Solana",
      "title_raw": "Solana",
      "symbols": [
        {
          "s": "FTX:SOLUSD"
        },
        {
          "s": "BINANCE:SOLEUR"
        },
        {
          "s": "COINBASE:SOLGBP"
        },
        {
          "s": "BINANCE:SOLBTC"
        },
        {
          "s": "HUOBI:SOLETH"
        },
        {
          "s": "BINANCE:SOLUSDT"
        }
      ],
      "quick_link": {
        "title": "More Solana pairs",
        "href": "/symbols/SOLUSD/markets/"
      }
    },
    {
      "title": "Uniswap",
      "title_raw": "Uniswap",
      "symbols": [
        {
          "s": "COINBASE:UNIUSD"
        },
        {
          "s": "KRAKEN:UNIEUR"
        },
        {
          "s": "COINBASE:UNIGBP"
        },
        {
          "s": "BINANCE:UNIBTC"
        },
        {
          "s": "KRAKEN:UNIETH"
        },
        {
          "s": "BINANCE:UNIUSDT"
        }
      ],
      "quick_link": {
        "title": "More Uniswap pairs",
        "href": "/symbols/UNIUSD/markets/"
      }
    }
  ],
  "title_link": "/markets/cryptocurrencies/prices-all/",
  "width": 400,
  "height": 460,
  "showChart": true,
  "showFloatingTooltip": false,
  "locale": "en",
  "plotLineColorGrowing": "#2962FF",
  "plotLineColorFalling": "#2962FF",
  "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
  "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
  "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
  "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
  "gridLineColor": "rgba(240, 243, 250, 0)",
  "scaleFontColor": "rgba(120, 123, 134, 1)",
  "showSymbolLogo": true,
  "symbolActiveColor": "rgba(41, 98, 255, 0.12)",
  "colorTheme": "white"
}
  </script>
</div>
<!-- TradingView Widget END -->

                                    </div><!-- .col -->
                                </div><!-- .row -->
                            </div><!-- .nk-block -->
                            <div class="nk-block">
                                <div class="card card-bordered">
                                    <div class="nk-refwg">
                                        
                                    </div><!-- .nk-refwg -->
                                </div><!-- .card -->
                            </div><!-- .nk-block -->
                            <div class="nk-block">
                                <div class="card card-bordered">
                                    <div class="card-inner card-inner-lg">
                                        <div class="align-center flex-wrap flex-md-nowrap g-4">
                                            <div class="nk-block-image w-120px flex-shrink-0">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 118">
                                                    <path d="M8.916,94.745C-.318,79.153-2.164,58.569,2.382,40.578,7.155,21.69,19.045,9.451,35.162,4.32,46.609.676,58.716.331,70.456,1.845,84.683,3.68,99.57,8.694,108.892,21.408c10.03,13.679,12.071,34.71,10.747,52.054-1.173,15.359-7.441,27.489-19.231,34.494-10.689,6.351-22.92,8.733-34.715,10.331-16.181,2.192-34.195-.336-47.6-12.281A47.243,47.243,0,0,1,8.916,94.745Z" transform="translate(0 -1)" fill="#f6faff" />
                                                    <rect x="18" y="32" width="84" height="50" rx="4" ry="4" fill="#fff" />
                                                    <rect x="26" y="44" width="20" height="12" rx="1" ry="1" fill="#e5effe" />
                                                    <rect x="50" y="44" width="20" height="12" rx="1" ry="1" fill="#e5effe" />
                                                    <rect x="74" y="44" width="20" height="12" rx="1" ry="1" fill="#e5effe" />
                                                    <rect x="38" y="60" width="20" height="12" rx="1" ry="1" fill="#e5effe" />
                                                    <rect x="62" y="60" width="20" height="12" rx="1" ry="1" fill="#e5effe" />
                                                    <path d="M98,32H22a5.006,5.006,0,0,0-5,5V79a5.006,5.006,0,0,0,5,5H52v8H45a2,2,0,0,0-2,2v4a2,2,0,0,0,2,2H73a2,2,0,0,0,2-2V94a2,2,0,0,0-2-2H66V84H98a5.006,5.006,0,0,0,5-5V37A5.006,5.006,0,0,0,98,32ZM73,94v4H45V94Zm-9-2H54V84H64Zm37-13a3,3,0,0,1-3,3H22a3,3,0,0,1-3-3V37a3,3,0,0,1,3-3H98a3,3,0,0,1,3,3Z" transform="translate(0 -1)" fill="#798bff" />
                                                    <path d="M61.444,41H40.111L33,48.143V19.7A3.632,3.632,0,0,1,36.556,16H61.444A3.632,3.632,0,0,1,65,19.7V37.3A3.632,3.632,0,0,1,61.444,41Z" transform="translate(0 -1)" fill="#6576ff" />
                                                    <path d="M61.444,41H40.111L33,48.143V19.7A3.632,3.632,0,0,1,36.556,16H61.444A3.632,3.632,0,0,1,65,19.7V37.3A3.632,3.632,0,0,1,61.444,41Z" transform="translate(0 -1)" fill="none" stroke="#6576ff" stroke-miterlimit="10" stroke-width="2" />
                                                    <line x1="40" y1="22" x2="57" y2="22" fill="none" stroke="#fffffe" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                    <line x1="40" y1="27" x2="57" y2="27" fill="none" stroke="#fffffe" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                    <line x1="40" y1="32" x2="50" y2="32" fill="none" stroke="#fffffe" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                    <line x1="30.5" y1="87.5" x2="30.5" y2="91.5" fill="none" stroke="#9cabff" stroke-linecap="round" stroke-linejoin="round" />
                                                    <line x1="28.5" y1="89.5" x2="32.5" y2="89.5" fill="none" stroke="#9cabff" stroke-linecap="round" stroke-linejoin="round" />
                                                    <line x1="79.5" y1="22.5" x2="79.5" y2="26.5" fill="none" stroke="#9cabff" stroke-linecap="round" stroke-linejoin="round" />
                                                    <line x1="77.5" y1="24.5" x2="81.5" y2="24.5" fill="none" stroke="#9cabff" stroke-linecap="round" stroke-linejoin="round" />
                                                    <circle cx="90.5" cy="97.5" r="3" fill="none" stroke="#9cabff" stroke-miterlimit="10" />
                                                    <circle cx="24" cy="23" r="2.5" fill="none" stroke="#9cabff" stroke-miterlimit="10" /></svg>
                                            </div>
                                            <div class="nk-block-content">
                                                <div class="nk-block-content-head px-lg-4">
                                                    <h5>We’re here to help you!</h5>
                                                    <p class="text-soft">Ask a question or file a support ticket, manage request, report an issues. Our team support team will get back to you by email.</p>
                                                </div>
                                            </div>
                                            <div class="nk-block-content flex-shrink-0">
                                                <a href="/contact/" class="btn btn-lg btn-outline-primary">Get Support Now</a>
                                            </div>
                                        </div>
                                    </div><!-- .card-inner -->
                                </div><!-- .card -->
                            </div><!-- .nk-block -->
                        </div>
                    </div>
                </div>
                <!-- content @e -->

                
                
                <!-- footer @s -->
                
                <!-- footer @s -->
               
                <!-- footer @e -->
                <!-- footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->


</body>
{% for i in wa %}
<script type="text/javascript">
  (function () {
      var options = {
          whatsapp: "{{i.number}}", // WhatsApp number
          call_to_action: "Message us", // Call to action
          button_color: "#FF6550", // Color of button
          position: "left", // Position may be 'right' or 'left'
      };
      var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
      s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
      var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
  })();
</script>
{% endfor %}

</html>