
<!DOCTYPE html>
<html lang="zxx" class="js">




<head>
    <base href="../../">
    <meta charset="utf-8">
    <meta name="author" content="Forex Signal">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Trades Leverage  Forex Signal help you secure your crypto, save and grow it ">
    <meta name="keywords" content="crypto,currency " />
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="/static/backend/images/favicon.png">
    <!-- Page Title  -->
    <title>Dashboard -Seapaltrading-Trades Leverage Security for Crypto and Forex Assets</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="https://tradesleverage.com/static/backend/assets/css/dashlite.css">
    <link id="skin-default" rel="stylesheet" href="https://tradesleverage.com/static/backend/assets/css/theme.css?ver=2.2.0">
    <!-- <link rel="stylesheet" href="/static/dashlite.css">
    <link rel="stylesheet" href="/static/style2.css"> -->

    <style>
  body{
    background-color: rgb(43, 40, 50) !important;
  }
  .asteriskField {
    display: none;}
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
    </style>

</head>


